IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
PointerAlignment: Left
DerivePointerAlignment: false

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PackConstructorInitializers: NextLine
Cpp11BracedListStyle: false

AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 500
PenaltyBreakBeforeFirstCallParameter: 500
