[submodule "Dependencies/PixieRenderer"]
	path = Dependencies/PixieRenderer
	url = https://github.com/Asuart/PixieRenderer.git
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "dependencies/entt"]
	path = dependencies/entt
	url = https://github.com/skypjack/entt.git
[submodule "dependencies/OpenUSD"]
	path = dependencies/OpenUSD
	url = https://github.com/PixarAnimationStudios/OpenUSD.git